.menu
  -
    var items = {
      Home: ['index','ss-icon-Home'],
      Icon: ['icon','ss-icon-Settings-suggest'],
      Component: ['','ss-icon-Main-Component-filled'],
      Menu: ['menu','ss-icon-Status-circle'],
      Button: ['button','ss-icon-Status-circle']
    }

  ul.ss-menu
    each val, key in items
      - var url = key
      if(val[0] == current)
        li.selected
          a(href= val[0] + '.html')
            span(class=val[1])
            span.label #{key}
            .selected-box &nbsp;
      else if (val[0] != '')
        li
          a(href= val[0] + '.html')
            span(class=val[1])
            span.label #{key}
      else
        li
          a(href="javascript:void(0)")
            span(class=val[1])
            span.label #{key}
            span.ss-icon-Maximize-arrow